<div>
    <!-- jQuery Version 1.11.0 -->
    <script th:src="@{/resources/js/jquery-1.11.0.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/resources/js/plugins/metisMenu/metisMenu.min.js}"></script>

    <!-- Bootstrap Select-->
    <script th:src="@{/resources/js/bootstrap-select.js}"/>

    <!-- Morris Charts JavaScript -->
    <!-- <script th:src="@{/resources/js/plugins/morris/raphael.min.js}"></script> -->
    <!-- <script th:src="@{/resources/js/plugins/morris/morris.min.js}"></script> -->
    <!-- <script th:src="@{/resources/js/plugins/morris/morris-data.js}"></script> -->

    <!-- DataTables JavaScript -->
    <script th:src="@{/resources/js/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/resources/js/plugins/dataTables/dataTables.bootstrap.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/resources/js/sb-admin-2.js}"></script>
</div>