<!doctype html>
<html>
    <head th:replace="common/head">
        <title></title>
    </head>
    <!--Body-->
    <body>
        <!--Header-->
        <header th:replace="common/header"/>

        <!--Page Content-->
	    <div class="page-content">
	    <!--Breadcrumbs-->
	      <ol class="breadcrumb">
	        <li><a href="index.html">Home</a></li>
	        <li>Login - Register</li>
	      </ol><!--Breadcrumbs Close-->
	      
	      <!--Login / Register-->
	      <section class="log-reg container">
	       <h4>Use social accounts</h4>
	       <div class="social-login">
	        <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
	        <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
	        <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
	        </div>
	      	<div class="row">
	        	<!--Login-->
	        	<div class="col-lg-5 col-md-5 col-sm-5">
	        	<div th:if="${param.error}" class="alert alert-danger">    
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
                <div th:if="${message}" th:text="${message}" class="alert alert-success">
                </div>
	            <form method="post" class="login-form" th:action="@{/login}" >
	              <div class="form-group group">
	                <label for="log-email2">Email</label>
	                <input type="email" class="form-control" name="username" id="log-email2" placeholder="Enter your email" required="required"/>
	                <a class="help-link" href="#">Forgot email?</a>
	              </div>
	              <div class="form-group group">
	                <label for="log-password2">Password</label>
	                <input type="password" class="form-control" name="password" id="log-password2" placeholder="Enter your password" required="required"/>
	                <a class="help-link" href="#">Forgot password?</a>
	              </div>
	              <div class="checkbox">
	                <label><input type="checkbox" name="remember"/> Remember me</label>
	              </div>
	              <input class="btn btn-black" type="submit" value="Login"/>
	            </form>
	          </div>
	          <!--Registration-->
	          <div class="col-lg-7 col-md-7 col-sm-7">
	            <form method="post" class="registr-form">
	              <div class="form-group group">
	                <label for="rf-email">Email</label>
	                <input type="email" class="form-control" name="rf-email" id="rf-email" placeholder="Enter email" required="required"/>
	              </div>
	              <div class="form-group group">
	                <label for="rf-password">Password</label>
	                <input type="password" class="form-control" name="rf-password" id="rf-password" placeholder="Enter password" required="required"/>
	              </div>
	              <div class="form-group group">
	                <label for="rf-password-repeat">Repeat password</label>
	                <input type="password" class="form-control" name="rf-password-repeat" id="rf-password-repeat" placeholder="Repeat password" required="required"/>
	              </div>
	              <div class="checkbox">
	                <label><input type="checkbox" name="remember"/> I have read and agree with the terms</label>
	              </div>
	              <input class="btn btn-black" type="submit" value="Register"/>
	            </form>
	          </div>
	        </div>
	      </section><!--Login / Register Close-->
	      
	      <!--Brands Carousel Widget-->
	      <section class="brand-carousel">
	        <div class="container">
	          <h2>Brands in our shop</h2>
	          <div class="inner">
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/1.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/2.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/3.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/4.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/1.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/5.png}" alt="1"/></a>
	            <a class="item" href="#"><img th:src="@{/resources/img/brands/6.png}" alt="1"/></a>
	          </div>
	        </div>
	      </section><!--Brands Carousel Close-->
	    </div>

    <footer th:replace="common/footer"/>
    </body><!--Body Close-->
</html>